@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

* {
    box-sizing: border-box;
}


section {
    padding: 40px 15%;
}

.contact {
    background: #101010;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 6rem;
}


body {
    font-family: 'Inter';
    height: 100%;
    background: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: white;
    padding: 60px;
    width: 100%;
    max-width: calc(100% - 60px);
}

.form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-element span {
    margin-bottom: 5px;
}

form button {
    width: 100%;
    padding-left: 20px;
    color: white;
    background: #1aaaef;
    border-radius: 5px;
    border: none;
    font-size: 18px;  
}





.footer-bottom {
    margin-bottom: 50px;
    text-align: center;
  }


