body{
    margin: 0%;
    padding: 0%;
    background-color: blue;
}

.container {
    top: 50%;
    right: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}
.content h1 span {
    color: #ff3753;
}

.launch-time{
    display: flex;
}

.launch-time div {
    flex-basis: 100px;
}


